<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="['/', 'tabs', 'requests', requestId]"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Request</ion-title>
    <ion-buttons slot="primary">
      <ion-button type="submit" (click)="onUpdateRequest()" size="large">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center padding>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="requestForm" *ngIf="!isLoading">
    <ion-grid no-padding>
      <ion-row>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          padding>
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="paper"></ion-icon>
              <ion-label position="floating">
                <h2>Title</h2>
              </ion-label>
              <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="medkit"></ion-icon>
              <ion-label position="floating">
                <h2>Patient</h2>
              </ion-label>
              <ion-input type="text" formControlName="patient"></ion-input>
              <ion-button slot="end" fill="clear" type="button" (click)="onPatientSelect()">
                <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label position="floating">
                <h2>Consultant</h2>
              </ion-label>
              <ion-input type="text" formControlName="consultant"></ion-input>
              <ion-button slot="end" fill="clear" type="button" (click)="onConsultantSelect()">
                <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label position="floating">
                <h2>Notes</h2>
              </ion-label>
              <ion-textarea rows="3" formControlName="notes"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <app-attachment-selector></app-attachment-selector>
      <ion-row class="grow" align-items-end>
        <ion-col size-sm="8" offset-sm="2">
          <ion-button
            type="submit"
            color="tertiary"
            expand="block"
            (click)="onUpdateRequest()"
            [disabled]="!requestForm.valid"
            >Update Request</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
