<ion-header>
  <ion-toolbar>
    <ion-title>Requests</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/tabs/requests/new-request">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-toolbar color="white" position="bottom" text-center padding>
  <ion-button 
    fill="clear"
    color="teritary"
    routerDirection="forward"
    routerLink="/tabs/requests/closed-requests">
    Closed Requests
  </ion-button>
</ion-toolbar>
