<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/', 'tabs', 'patients', patient.id]"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <br>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2">
          <ion-thumbnail>
            <ion-img src="{{ patient.potraitUrl }}"></ion-img>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2">
          <div class="input-container">
            <ion-input type="file" formControlName="patientImage" #patientImage></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2">
          <ion-item>
            <ion-label>DOB</ion-label>
            <ion-datetime
              formControlName="dob"
              display-format="DD MMM YYYY"
              picker-format="DD MMM YYYY">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2">
          <ion-item lines="none">
            <ion-label position="floating">Notes</ion-label>
            <ion-textarea rows="3" formControlName="notes"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="grow" align-items-end>
        <ion-col size-sm="8" offset-sm="2">
          <ion-button type="submit" color="tertiary" expand="block" (click)="onUpdatePatient()" [disabled]="!form.valid">Update</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
