<ion-header>
  <ion-toolbar>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid no-padding>
    <ion-row align-items-end>
      <ion-col
        size="12"
        size-sm="10"
        offset-sm="1"
        size-md="8"
        offset-md="2"
        size-lg="6"
        offset-lg="3"
        size-xl="4"
        offset-xl="4"
        text-center
        padding
      >
        <ion-thumbnail>
          <ion-img
            src="http://davidmcelhill.student.davecutting.uk/php_rest_rhecon/files/rhecon-logo.png"
          ></ion-img>
        </ion-thumbnail>
        <h5>Remote Healthcare Consultation</h5>
      </ion-col>
    </ion-row>
    <form></form>
    <ion-row align-items-end>
      <ion-col
        size="12"
        size-sm="10"
        offset-sm="1"
        size-md="8"
        offset-md="2"
        size-lg="6"
        offset-lg="3"
        size-xl="4"
        offset-xl="4"
        text-center
        padding
      >
        <ion-button color="tertiary" expand="block" (click)="onLogin()"
          >Login</ion-button
        >
        <ion-button fill="clear" expand="block" (click)="onSignup()"
          >New to Rhecon? Sign up</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
