<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="patients">
      <ion-label>Patients</ion-label>
      <ion-icon name="medkit"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="requests">
      <ion-label>Requests</ion-label>
      <ion-icon name="pulse"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="consultants">
      <ion-label>Contacts</ion-label>
      <ion-icon name="contacts"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>