<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="large" (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">Current Password</ion-label>
            <ion-input type="password" formControlName="currentPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="newPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" padding>
          <ion-item lines="none">
            <small><ion-note>Password should be a minimum of 8 characters in length and contain at least 1 number</ion-note></small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('email').valid && form.get('email').touched">
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <small><ion-text color="danger">Please enter valid email address</ion-text></small>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('currentPassword').valid && form.get('currentPassword').touched">
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <small><ion-text color="danger">Please enter valid password</ion-text></small>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('newPassword').valid && form.get('newPassword').touched">
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <small><ion-text color="danger">New password does not meet the required complexity</ion-text></small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" padding text-center>
          <ion-button
            type="submit"
            color="tertiary"
            expand="block"
            (click)="onChangePassword()"
            [disabled]="!form.valid"
            >Change Password
          </ion-button> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>