<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Patients</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/tabs/patients/new-patient">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-xl="6" offset-xl="3">
        <ion-list>
          <ion-item
            *ngFor="let patient of patients"
            [routerLink]="['/', 'tabs', 'patients', patient.id]"
            detail>
            <ion-avatar slot="start">
                <ion-img [src]="patient.potraitUrl"></ion-img>
              </ion-avatar>
              <ion-label>
                <h3>{{ patient.firstName }} {{ patient.lastName }}</h3>
                <p>{{ patient.dob }}</p>
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
