<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="large" (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
       <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item lines="none">
            <small><ion-note>Password should be at least 8 characters and contain at least 1 number</ion-note></small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-select name="country" formControlName="country">
              <ion-select-option value="1">Ethiopia</ion-select-option>
              <ion-select-option value="2">Nigeria</ion-select-option>
              <ion-select-option value="3">Indonesia</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="grow" align-items-end>
        <ion-col size-sm="8" offset-sm="2" class="sidePadding">
          <ion-button type="submit" color="tertiary" expand="block" (click)="onSignup()" [disabled]="!form.valid">Sign up</ion-button>
          <ion-button fill="clear" expand="block">Have a group joining code?</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
