<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/', 'groups', groupId]"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Group</ion-title>
    <ion-buttons slot="primary">
      <ion-button type="submit" (click)="onUpdateGroup()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center padding>
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <form [formGroup]="form">
      <ion-row>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          no-padding
        >
          <ion-img [src]="group.imageUrl" role="button" class="group-image" (click)="onSelectImage()"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          text-center
        >
          <h3>{{ group.groupName }}</h3>
          <ion-note>{{ group.members.length }} members</ion-note>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<input
  type="file"
  accept="image/jpeg"
  #fileSelector
  (change)="onFileChosen($event)"
/>
