<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/patients"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button [routerLink]="['/', 'tabs', 'patients', 'edit-patient', patient.id]">Edit</ion-button>
      </ion-buttons>
    <ion-title>{{ patient.firstName }} {{ patient.lastName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col padding>
        <ion-img [src]="patient.potraitUrl"></ion-img>
        <p>{{ patient.gender }}</p>
        <p>DOB - {{ patient.dob }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
