<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <!-- <ion-row>
        <ion-col 
        size="12"
        size-md="8"
        offset-md="2"
        size-xl="6"
        offset-xl="3"
        text-center
        no-padding
        *ngIf="!isLoading">
          <ion-button type="button" (click)="onCreate()">Create</ion-button>
          <ion-button fill="clear" expand="block">Have a group joining code?</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          text-center
          padding
          *ngIf="!isLoading && groups.length === 0"
        >
          <p>You are not a member of any groups.</p>
        </ion-col>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          text-center
          *ngIf="isLoading"
        >
          <ion-spinner color="primary"></ion-spinner>
        </ion-col>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          class="sidePadding"
          *ngIf="!isLoading && groups.length > 0"
        >
          <ion-list no-padding>
            <ion-item [routerLink]="" type="button" (click)="onCreate()">
              <ion-thumbnail slot="start">
                  <ion-img src="http://dmcelhill01.lampt.eeecs.qub.ac.uk/php_rest_rhecon/files/add-group-icon.png"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h3>Create new group</h3>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="" type="button" (click)="onJoin()">
              <ion-thumbnail slot="start">
                  <ion-img src="http://dmcelhill01.lampt.eeecs.qub.ac.uk/php_rest_rhecon/files/join-group-icon.jpg"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h3>Join with code</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          *ngIf="!isLoading && groups.length > 0"
        >
        <h4 style="margin-left: 10px;">Your Groups</h4>
          <ion-list no-padding>
            <ion-item
              [routerLink]="['/', 'groups', group.id]"
              *ngFor="let group of groups">
              <ion-thumbnail slot="start">
                <ion-img [src]="group.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h3>{{ group.groupName }} </h3>
                <p>{{ group.members.length }} Members</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
