<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Groups</ion-title>
    <ion-buttons slot="primary" *ngIf="editMode">
      <ion-button routerLink="/groups/new-group">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col 
        size="12"
        size-md="8"
        offset-md="2"
        size-xl="6"
        offset-xl="3"
        text-center
        padding
        *ngIf="!isLoading">
          <ion-button *ngIf="!editMode">Create</ion-button>
          <ion-button>Join</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          text-center
          padding
          *ngIf="!isLoading && groups.length === 0"
        >
          <p>You are not a member of any groups.</p>
        </ion-col>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          text-center
          padding
          *ngIf="isLoading"
        >
          <ion-spinner color="primary"></ion-spinner>
        </ion-col>
        <ion-col
          size="12"
          size-md="8"
          offset-md="2"
          size-xl="6"
          offset-xl="3"
          text-center
          padding
          *ngIf="!isLoading && groups.length > 0"
        >
          <ion-list>
            <ion-item
              [routerLink]="['/', 'groups', group.id]"
              *ngFor="let group of groups">
              <ion-thumbnail slot="start">
                <ion-img [src]="group.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h3>{{ group.groupName }} </h3>
                <p>{{ group.members.length }} Members</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
          
      </ion-row>
    </ion-grid>
  </ion-content>
