<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-xl="6" offset-xl="3" text-center padding>
        <h2>Welcome to the Rhecon!</h2>
        <p>Remote Healthcare Consultation App</p>
        <ion-card>
          <ion-img src="https://rs.projects-abroad.org/v1/products/product-5be2adf5dc415.[1090].jpeg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
