<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-xl="6" offset-xl="3" text-center padding>
        <ion-thumbnail>
          <ion-img src="http://dmcelhill01.lampt.eeecs.qub.ac.uk/php_rest_rhecon/files/rhecon-logo.png"></ion-img>
        </ion-thumbnail>
        <h5>Remote Healthcare Consultation</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-xl="6" offset-xl="3" padding>
        <ion-img src="https://rs.projects-abroad.org/v1/products/product-5be2adf5dc415.[1090].jpeg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-xl="6" offset-xl="3" padding text-center>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
