<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/contacts"></ion-back-button>
    </ion-buttons>
    <ion-title>View Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center padding>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col
        size="12"
        size-sm="10"
        offset-sm="1"
        size-md="8"
        offset-md="2"
        size-lg="6"
        offset-lg="3"
        size-xl="4"
        offset-xl="4"
        padding
      >
        <ion-card>
          <ion-card-header text-center>
            <ion-card-title
              >{{ contact.title === "Dr" ? "Dr" : "" }} {{ contact.firstName }}
              {{ contact.lastName }}</ion-card-title
            >
            <ion-card-subtitle>{{ contact.specialism }}</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="contact.portraitUrl"></ion-img>
          <ion-card-content>
            <p><strong>Bio: </strong>{{ contact.bio }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
